$black: #000;
$blue: #00f;
$gray: #333;
$white: #fff;

body {
  display: flex;
  margin: 0;
  border: 0;
  background: blue;
  color: $white;
}

::placeholder {
  color: $blue;
}

h1 {
  border: 10px solid $black;

  &.test {
    color: $black;

    &.newtest {
      color: $white;
    }
  }
}
